body{
    margin:0;
    padding: 0;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

ul{
    position: relative;
    margin:0;
    padding:0;
    display: flex;
}

ul li{
    position:relative;
    list-style:none;
    width: 60px;
    height: 60px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);
    background: #ccc;
}

ul li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition:.5s;
    display: flex !important;
    align-items:center;
    justify-content: center;
    color: #fff;
    font-size:30px !important;
}

ul li:hover span{
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1)
}
ul li:hover span:nth-child(5){
    transform: translate(40px, -40px);
    opacity: 1;
}

ul li:hover span:nth-child(4){
    transform: translate(30px, -30px);
    opacity: .8;
}

ul li:hover span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: 0.6;
}

ul li:hover span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: 0.4;
}

ul li:hover span:nth-child(1){
    transform: translate(0, 0);
    opacity: 0.2;
}

ul li:nth-child(1) span{
    background: #3b5999;
}
ul li:nth-child(2) span{
    background: #dd4b39;
}
ul li:nth-child(3) span{
    background: #0077b5;
}
ul li:nth-child(4) span{
    background: #e4405f;
}
ul li:nth-child(5) span{
    background: #55acee;
}

@media (max-width: 650px){
    ul{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
        grid-gap:2em;
    }
}