html{
    font-size: 1.3vw;
}
body{
    margin: 0;
    padding: 0;
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/back.jpg");
    background-size:cover;
    
   
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width:50%;
    background: rgba(255, 255, 255, 0.534);
    padding:0 1em;
 }

.top{
   
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    opacity: 5;
    flex-shrink: 1;

}


.imagediv{
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    padding: 1% 0;
    border-radius: 999px;
}

.profilepic{
    width:90%;
    border-radius: 999px;

}

.top h1{
    margin-top: 2vh;
    text-align: center;
}
h1{
    font-size: 2.8rem;
    margin-top: 0vh;
    margin-bottom: 1vh;
}
h2{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.arrow{
    border: 2px solid white;
    border-radius: 999px;
    padding:4px 10px;
    font-size: 1.5rem;
    margin-top:1vh;
}



.bottom{
    width: 100%;
    color:black;
    display:flex;
    flex-direction: column;
 
    flex-grow: 1;
}

.bottom div{
    margin-top: 0;
    font-size: 1.1rem;
    text-align: justify;
    display:flex;
    
    
}


.bottom h1{
    color:white;
    text-transform: uppercase;
    margin-bottom: 1vh;
}


.b{
    display:none;
}



@media (max-width: 1600px){
  html{
      font-size: 1.8vw;
  }
  .bottom div{
      font-size: 0.8rem
  }
  h1{
    font-size: 2rem;
    margin-top: 0vh;
    margin-bottom: 1vh;
}
}

@media (max-width: 1200px){
    html{
        font-size: 2vw;
    }
    .bottom div{
        font-size: 1.5rem
    }
  }

@media (max-width: 930px){
   
    .bottom div{
        font-size: 1.8rem
    }
  }
  


@media (max-width: 860px){
    html{
        font-size: 2vw;
    }
    .container{
        width: 80%;
    }
  }

@media (max-width: 500px){
    html{
        font-size: 2.5vw;
    }
    .bottom div{
        margin-top: 0;
        font-size: 1.8rem;
        
        
    }

    .bottom{
        flex-shrink: 1;
    }

    .container{
        flex-grow: 0;
        width: 80%;
    }
  }