body{
    margin:0;
    padding: 0;
    font-family:sans-serif;
    height:100vh;
}
ul
{
    position: absolute;
    top: 0;
    display: flex;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ccc;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul li{
    list-style:none;
    position: relative;
    width: 20%;
    height: 100%;
    border-right: 1px solid #000;
    float: left;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
}

ul li:nth-child(1){
    background-image:url(./img/product-1.jpg);
    background-size: cover;
    background-position: left;
}
ul li:nth-child(2){
    background-image:url(./img/product-2.jpg);
    background-size: cover;
    background-position: left;
}
ul li:nth-child(3){
    background-image:url(./img/product-3.jpg);
    background-size: cover;
    background-position: left;
}
ul li:nth-child(4){
    background-image:url(./img/product-4.jpg);
    background-size: cover;
    background-position: left;
}
ul li:nth-child(5){
    background-image:url(./img/product-5.jpg);
    background-size: cover;
    background-position: left;
}


ul:hover li{
    width: 10%;
}

ul li:hover{
    width: 60%;
}

ul li .content{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.8);   
    box-sizing: border-box;
    color: #fff;  
    opacity:0; 
}

ul li:hover .content{
    bottom: 0;
    transition: 0.5s;
    transition-delay: 0.5%;
    opacity:1;

}


@media (max-width:700px){
    ul
{
    display: flex;
    flex-direction: column;
}
ul:hover li{
    width: 100%;
    height: 10%;
}

ul li:hover{
    width: 100%;
    height:60%;
}
ul:active li{
    height: 10%;
    width:100vw;
}

ul li:active{
    height: 60%;
    width: 100vw;
}

ul li{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #000;
    border-right: transparent;
}

ul li .content{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.8);   
    box-sizing: border-box;
    color: #fff;  
    opacity:0; 
}
}