body{
    margin:0;
    padding:0;
    background: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container{
    position: relative;
}

.ring{
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    color: #fff000;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #fff000;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.ring:before{
    content: '';
    position: absolute;
    top:0px;
    left: 0px;
    width: 150px;
    height: 150px;
    border: 3px solid transparent;
    border-top: 3px solid #fff000;
    border-right: 3px solid #fff000;
    border-radius: 50%;
    animation: animatecircle 2s linear infinite;
}

span{
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    width: 50%;
    right:0px;
    height:4px;
    background:transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

span:before{
    content:'';
    position: absolute;
    width:16px;
    height: 16px;
    border-radius: 50%;
    background: #fff000;
    top:-6px;
    right: -7px;
    box-shadow: 0 0 20px #fff000;
}


@keyframes animatecircle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}


@keyframes animate{
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(405deg);
    }
}