*{
    padding:0;
    margin:0;
}
body{
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #112c39;
    width:100vw;
    height:100vh;
    
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    width:80%;
    font-size: 1.5rem;
}

li{
    padding:1rem;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: white;
    width:100%;
    align-self: center;
    perspective: 10px;
}


ul:hover li{
    filter:blur(4px);
    opacity:0.1;
    transition: 0.1s;
    

}
.container ul li:hover{
    filter:blur(0px);
    opacity:1;
    font-size: 2rem;
    background:#ff497c;
    letter-spacing: 6px;
    transition: 0.3s;
}

@media (max-width:450px){
    .container{
        width:100%;
    }

    ul{
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    li{
        border-bottom:1px solid white;
        width: 80%;
        text-align: center;
    }
}

