body{
    margin:0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    white-space: nowrap;
}

h1{
    position: absolute;
    text-transform: uppercase;
    font-family: consolas;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
    color: transparent;
}

h1:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color:#000;
    overflow: hidden;
    border-right: 1px solid #000;
    animation: typing 10s steps(38) infinite;
}

@keyframes typing{
    0%{
        width:0;
    }

    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }

   
}

@media (max-width: 500px){
    body{
        font-size: 2.3vw;
    }

    h1{
        letter-spacing: 2px;
    }
}