body{
    margin: 0;
    padding: 0;
    background: #708d00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.card{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    background: #fff; 
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5), 0 20px 100px rgba(0, 0, 0, .5);
    transition: 1s;
}


.card:hover{
    transform: translate(-50%, -50%) perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 10px 100px rgba(0, 0, 0, .5);
}

.card:before{
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    height: 5px;
    background: #475b02;
    transform-origin: bottom;
    transform:  skewX(-45deg);
}

.card:after{
    content: '';
    position: absolute;
    top:0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #7ea301;
    transform-origin: left;
    transform: skewY(-45deg);
}


.card .imgBox{
    height: 100%;
    width: 100%;
    position: relative;
    transform-origin: left;
    transition: 1s cubic-bezier(0.15, 1.7, 0.84, 0.58);
    z-index:1;
}

.card:hover .imgBox{
    transform: rotateY(-135deg);
}

.imgBox img{
    width: 100%;
    height: 100%;
   
}

.card .details{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;
}


@media(max-width: 875px){
    .card:hover{
        transform: translate(-50%, -50%) perspective(2000px) rotate(-90deg);
        box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 10px 100px rgba(0, 0, 0, .5);
        height:90vw;
        margin-top: -5em;
    }

    .card{
        width: 70vw;
        height:60vh;
    }
}