body{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 2em;
    justify-content: space-between;
}

.container .box{
    
    height: 400px;
    background: #000;
    background-position: top;
    transition: ease-in-out 8s;
}

.container .box.box1{
    background: url('../../img/product-5.jpg');
    background-size: cover;

}

.container .box.box2{
    background-image: url('../../img/product-9.jpg');
    background-size: cover;
}

.container .box:hover{
    background-position: bottom;
}