*,*:before, *:after{
    box-sizing:inherit;
}

html, body, .page-wrap{
    width: 100%;
    height: 100%;

    margin:0;
    padding:0;
}

body{
    font-family: arial;
    font-size: 100%;
    font-weight: 400;
    line-height: 1;
    overflow: hidden;
}

h1,h2{
    font-family: tahoma;
    font-weight: 400;
    text-transform:uppercase;
    color:  white;
    letter-spacing: 2px;
}

i{
    position: relative;
}

.overlay{
    position:absolute;
    z-index:1;
    top: -10%;
    left:-10%;
    width: 120%;
    height:120%;
    background-position: center center;
    background-size: 100%;
    opacity: 1;
    filter: blur(5px);
    background-color: white;
}

.page-wrap{
    position:relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)) url("../../img/product-6.jpg");
    background-size: cover;
    background-position: center;
    height:100%;
}