body{
    margin:0;
    padding: 0;
    background:#000;
    height:100vh;

}

.shadow{
    position: relative;
    margin:17% auto;
    width:32%;
    height: 40%;
    background: linear-gradient(0deg, #000,#262626);

}

.shadow:before,.shadow:after{
    content:'';
    position: absolute;
    top: -2px;
    left:-2px;
    background:linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000
    ,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
    background-size: 400%;
    
    width: calc(100% + 4px);
    height:calc(100% + 4px);
    z-index:-1;
    animation: animate 20s linear infinite;
}


.shadow:after{
    filter: blur(20px);
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }

    50%{
        background-position: 400% 0;
    }

    100%{
        background-position: 0 0;
    }
}


@media (max-width:800px){
    .shadow{
        width:45%;
        height:30%;
    }
}
@media (max-width:500px){
    .shadow{
        width:60%;
        height:20%;
    }
}