body{
    margin:0;
    padding:0;
    font-family: cursive;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: #000;
}

.count-down{
    position:relative;
    width:400px;
    height:400px;
    transform-style: peserve-3d;
    perspective:1000px;
}

.count-down:before{
    content:'';
    position: absolute;
    bottom: -50px;
    left:0;
    width: 100%;
    height:10px;
    background: #000;
    border-radius: 50%;
    filter: blur(20px);
    animation: shadow 1s linear;
}


@keyframes shadow{
    0%,100%{ 
        transform: scale(0.5);
    }
    50%{ 
        transform: scale(1);
    }
}
.count-down .number{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(270deg);
    animation: animate 5s linear;
}

@keyframes animate{
    0%{
        transform: rotateY(90deg);
    }
    20%,80%{
        transform: rotateY(0deg);
    }
   
    
    100%{
        transform: rotateY(-90deg);
    }
    
}


.count-down .number:nth-child(1){
    animation-delay: 0s;
}

.count-down .number:nth-child(2){
    animation-delay: 5s;
}

.count-down .number:nth-child(3){
    animation-delay: 10s;
}

.count-down .number:nth-child(4){
    animation-delay: 15s;
}

.count-down .number:nth-child(5){
    animation-delay: 20s;
}

.count-down .number:nth-child(6){
    animation-delay: 25s;
}

.count-down .number:nth-child(7){
    animation-delay: 30s;
}

.count-down .number:nth-child(8){
    animation-delay: 35s;
}

.count-down .number:nth-child(9){
    animation-delay: 40s;
}

.count-down .number:nth-child(10){
    animation-delay: 45s;
}

.count-down .number h2{
    margin:0;
    padding:0;
    font-size: 20em; 
    color: #111;  
}

h2 span{
    display: table-cell;
    margin: 0;
    padding: 0;
    /*animation: animates 2s ease-in-out infinite;*/
}
/*
h2 span:nth-child(1){
    animation-delay: 0s;
}
h2 span:nth-child(2){
    animation-delay: 0.25s;
}

*/
/*****/
.count-down .number:nth-child(1) span:first-child{
    animation: animates 2s forwards ;
    animation-delay: 1s;
}
.count-down .number:nth-child(1) span:last-child{
    animation: animates 2s forwards ;
    animation-delay: 2s;
}

.count-down .number:nth-child(2) span:first-child{
    animation: animates 1s forwards ;
    animation-delay: 6s;
}
.count-down .number:nth-child(2) span:last-child{
    animation: animates 1s forwards ;
    animation-delay: 7s;
}
.count-down .number:nth-child(3) span:first-child{
    animation: animates 1s forwards ;
    animation-delay: 11s;
}
.count-down .number:nth-child(3) span:last-child{
    animation: animates 1s forwards ;
    animation-delay: 12s;
}
.count-down .number:nth-child(4) span:first-child{
    animation: animates 1s forwards ;
    animation-delay: 16s;
}
.count-down .number:nth-child(4) span:last-child{
    animation: animates 1s forwards ;
    animation-delay: 17s;
}
.count-down .number:nth-child(5) span:first-child{
    animation: animates 1s forwards ;
    animation-delay: 21s;
}
.count-down .number:nth-child(5) span:last-child{
    animation: animates 1s forwards ;
    animation-delay: 22s;
}
.count-down .number:nth-child(6) span:first-child{
    animation: animates 1s forwards ;
    animation-delay: 26s;
}
.count-down .number:nth-child(6) span:last-child{
    animation: animates 1s forwards ;
    animation-delay: 27s;
}
.count-down .number:nth-child(7) span:first-child{
    animation: animates 1s forwards ;
    animation-delay: 31s;
}
.count-down .number:nth-child(7) span:last-child{
    animation: animates 1s forwards ;
    animation-delay: 32s;
}
.count-down .number:nth-child(8) span:first-child{
    animation: animates 1s forwards ;
    animation-delay: 36s;
}
.count-down .number:nth-child(8) span:last-child{
    animation: animates 1s forwards ;
    animation-delay: 37s;
}
.count-down .number:nth-child(9) span:first-child{
    animation: animates 1s forwards ;
    animation-delay: 41s;
}
.count-down .number:nth-child(9) span:last-child{
    animation: animates 1s forwards ;
    animation-delay: 42s;
}
.count-down .number:nth-child(10) span:first-child{
    animation: animates 1s forwards ;
    animation-delay: 46s;
}
.count-down .number:nth-child(10) span:last-child{
    animation: animates 1s forwards ;
    animation-delay: 47s;
}
/*****/
@keyframes animates {
    0%, 10%{
        color: #111;
        filter: blur(0px);
        text-shadow: none;
    }
    100%{
        color: #fff;
        filter:blur(2px);
        text-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 80px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 300px #00b3ff,
                    0 0 400px #00b3ff;
    }

    5%, 95%{
        color: #111;
        filter: blur(0px);
        text-shadow: none;
    }
}