body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search{
    position: absolute;
    top: 0;
    right:0;
    width: 80px;
    height: 80px;
    background: #670090;
    transition: .5%;
}

.search .icon{
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.search .icon:before{
     content: '\f002';
     font-family: fontAwesome;
}

.search .active .icon:before{
    content: '\f00d';
    font-family: fontAwesome;
}