body {
  font-family: "Montserrat";
  margin: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  padding: 7em;
  height: calc(100vh - 14em);
  color: white;
  scroll-snap-align: start;
}
section:nth-of-type(1) {
  background: #60af15;
}
section:nth-of-type(2) {
  background: #158baf;
}
section:nth-of-type(3) {
  background: #af1581;
}
section h3 {
  font-size: 3em;
}
section p {
  font-size: 1.2em;
}

/*# sourceMappingURL=css-snap.css.map */
