body{
    font-family: 'Montserrat';
    margin:0;
    scroll-snap-type: y mandatory;
    overflow-y:scroll;
}

section{
    padding:7em;
    height: calc(100vh - 14em);
    color: white;
    scroll-snap-align:start;

    &:nth-of-type(1){
        background: rgb(96,175,21);
    }
    &:nth-of-type(2){
        background: rgb(21,139,175);
    }
    &:nth-of-type(3){
        background: rgb(175,21,129);
    }

    h3{
        font-size: 3em;
    }
    p{
        font-size:1.2em;
    }
}