*{
    margin:0;
    padding: 0;
    font-family: "montserrat", sans-serif;
}

.header{
    height: 100px;
    background: #34495e;
    padding: 0 20px;
    color: #fff;
}

.logo{
    line-height: 100px;
    float: left;
    text-transform: uppercase;
}

.menu{
    line-height: 100px;
    float:right;
}

.menu a{
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    padding:0 10px;
}

.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 3px;
    cursor:pointer;
    display:none;
}

.show-menu-btn{
    float:right;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color:#3498db;
}


#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

.content{
    padding: 0 20px;
}
.content img{
    width:100%;
    max-width: 700px;
    margin: 20px 0;
}

.content p{
    text-align: center;
}

i{
    font-size: 10em;
}
@media screen and (max-width: 800px){
    .show-menu-btn, .hide-menu-btn{
        display:block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh; 
        background: #333;
        right:100%;
        top:0;
        text-align:center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }

    .menu a{
        display: block;
        padding:20px;
    }

    .hide-menu-btn,.show-menu-btn{
        position: absolute;
        top:40px;
        right:40PX;
    }

    #chk:checked ~ .menu{
        right:0;
    }
}