body{
    margin:0;
    padding:0;

}

section{
    width:100%;
    height:100vh;
    background:url(../../img/downloaded.jpg);
    background-size: cover;
    background-attachment: fixed;
}

section .wave{
    position: absolute;
    width:100%;
    height:143px;
    bottom: 0;
    left:0;
    background: url(../../img/wave.png);
    animation:animate 10s linear infinite;
}

section .wave:before{
    content: '';
    width: 100%;
    position: absolute;
    height:143px;
    background: url(../../img/wave.png);
    top:0;
    left:0;
    opacity:0.4;
    animation:animate-reverse 10s linear infinite;
}

section .wave:after{
    content: '';
    width: 100%;
    position: absolute;
    height:143px;
    background: url(../../img/wave.png);
    top:0;
    left:0;
    opacity:0.6;
    animation-delay: -5s;
    animation:animate 20s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 1360px;
    }
}

@keyframes animate-reverse{
    0%{
        background-position: 1360px;
    }
    100%{
        background-position: 0;
    }
}