body{
    margin: 0;
    padding: 0;
    font-family: verdana;
}

h1{
    margin: 0;
    padding:0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-size: 6vw;
    z-index: 2;
}

.container{
    position: relative;
    height: 100vh;
    width: 100vw;
}

ul{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

li{
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    height: 100%;
    width: 100%;
    background: url('./snowing-png-24390\ \(1\).png');
    background-size: contain;
    animation:animate 10s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(1) rotate(0deg);
        opacity: 0;
    }
    50%{
        transform: scale(2) rotate(180deg);
        opacity: 1;
    }
    100%{
        transform: scale(1) rotate(360deg);
        opacity: 0;
    }
}


ul li:nth-child(1){
    animation-delay: 8s;
}
ul li:nth-child(2){
    animation-delay: 6s;
}
ul li:nth-child(3){
    animation-delay: 4s;
}
ul li:nth-child(4){
    animation-delay: 2s;
}
ul li:nth-child(5){
    animation-delay: 0  s;
}
 
