body{
    margin:0;
    padding: 0;
    height:100vh;
    width:100vw;
}


.container{
    width: 100%;
    height:100%;
    background-image: url("../../img/cityroad.v2.jpg");
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    animation: animatebac 15s linear infinite;
}

.car-holder{
    position: relative;
    width:45%;
}

.car{
    height:25vw;
    width:45vw;
}
.tire{
    animation: animate 1s linear infinite;
    height:7vw;
    width:7vw;
    position: absolute;
    top:64%;
    left:14%;

}

.tire.tire2{
    left:73%;
}



@keyframes animate{
    0%{
        transform: rotate(-72deg);
    }
    25%{
        transform: rotate(-144deg);
    }
    50%{
        transform: rotate(-216deg);
    }
    75%{
        transform: rotate(-288deg);
    }
    100%{
        transform: rotate(-359deg);
    }
}

@media (max-width: 650px){
    .container{
        animation: animatebac 35s linear infinite;
    }
}

@keyframes animatebac{
    0%{
        background-position-x: 0%;
    }
    25%{
        background-position-x: -500%;
    }
    50%{
        background-position-x: -1000%;
    }
    75%{
        background-position-x: -1500%;
    }
    100%{
        background-position-x: -2000%;
    }


}


