body{
    margin:0;
    padding:0;
}

section{
    position: absolute;
    width:100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
    animation: bgColor 20s linear infinite;
}

.bgPulse{
    width: 100%;
    height: 100%;
}

.bgPulse span{
    position: absolute;
    width: 5vw;
    height: 5vw;
    background: #fff;
    
}

.bgPulse span:nth-child(3n+1){
    background: transparent;
    border: 5px solid #fff;
}
.bgPulse span:nth-child(1){
    animation: animate 10s linear infinite;
    top: 50%;
    left: 20%;
}
.bgPulse span:nth-child(2){
    animation: animate 12s linear infinite;
    top: 80%;
    left: 40%;
}
.bgPulse span:nth-child(3){
    animation: animate 15s linear infinite;
    top: 10%;
    left: 65%;
}
.bgPulse span:nth-child(4){
    animation: animate 6s linear infinite;
    top: 50%;
    left: 70%;
}
.bgPulse span:nth-child(5){
    animation: animate 9s linear infinite;
    top: 10%;
    left: 30%;
}
.bgPulse span:nth-child(6){
    animation: animate 8s linear infinite;
    top: 90%;
    left: 95%;
}
.bgPulse span:nth-child(7){
    animation: animate 5s linear infinite;
    top: 80%;
    left: 5%;
}
.bgPulse span:nth-child(8){
    animation: animate 14s linear infinite;
    top: 35%;
    left: 50%;
}
.bgPulse span:nth-child(9){
   animation: animate 11s linear infinite;
    top: 5%;
    left: 5%;
}
.bgPulse span:nth-child(10){
    animation: animate 10s linear infinite;
    top: 25%;
    left: 90%;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: scale(1) translateY(-100px) rotate(360deg);
        opacity: 0;
    }
}

@keyframes bgColor{
    0%{
        background: #f44336;
    }
    25%{
        background: #03a9f4;
    }
    50%{
        background: #9c27b0;
    }
    75%{
        background: #00ff0a;
    }
    100%{
        background: #f44336;
    }
}